@charset "utf-8";

.rs-picker-toggle-wrapper{ height:36px; }
.rs-picker-menu{ border-radius:0; }
.rs-picker-default .rs-picker-toggle{ display:inline-flex; border-color:#305da8; color:#444; }
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-btn.active, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle.active{ border-color:#305da8; }
.rs-picker-default:not(.rs-picker-disabled) .rs-btn.active, .rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle.active, .rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover{ border-color:#305da8; }
.rs-picker-daterange .rs-picker-toggle-caret::before{ content:'' !important; }
.rs-picker-toggle{ border-radius:0 !important; }
.rs-picker-default .rs-btn, .rs-picker-default .rs-picker-toggle, .rs-picker-input .rs-btn, .rs-picker-input .rs-picker-toggle{ border-color:#305da8; }
.rs-picker-default .rs-picker-toggle.rs-btn{ display:flex; justify-content:center; align-items:center; padding-top:7px; padding-bottom:7px; }
.rs-picker-toggle .rs-picker-toggle-placeholder{ color:#bdc6d2; }
.rs-picker-date .rs-picker-toggle.rs-btn, .rs-picker-daterange .rs-picker-toggle.rs-btn{ padding-right:33px; }
.rs-calendar-table-cell-selected .rs-calendar-table-cell-content{ border-color:#305da8; background-color:#305da8; }
.rs-picker-cleanable.rs-picker-date .rs-picker-toggle.rs-btn, .rs-picker-cleanable.rs-picker-daterange .rs-picker-toggle.rs-btn{ width:220px; height:36px; }
.rs-calendar-table-cell-content{ border-radius:0; }
.rs-calendar-table-cell-in-range:before, .rs-calendar-table-cell-selected:before{ margin-top:2px; height:28px; }
.rs-calendar-table-cell-is-today .rs-calendar-table-cell-content{ border:1px solid #305da8;}
.rs-calendar-header-backward.rs-btn-focus, .rs-calendar-header-backward:focus, .rs-calendar-header-backward:hover, .rs-calendar-header-forward.rs-btn-focus, .rs-calendar-header-forward:focus, .rs-calendar-header-forward:hover, .rs-calendar-header-meridian.rs-btn-focus, .rs-calendar-header-meridian:focus, .rs-calendar-header-meridian:hover, .rs-calendar-header-title.rs-btn-focus, .rs-calendar-header-title:focus, .rs-calendar-header-title:hover{ color:#305da8; }
.rs-picker-toolbar-right-btn-ok{ border-radius:0; background-color:#305da8; }
.rs-picker-toolbar-right-btn-ok span{ color:#fff; }
.rs-picker-toolbar-right-btn-ok.rs-picker-toolbar-btn-disabled, .rs-picker-toolbar-right-btn-ok.rs-picker-toolbar-btn-disabled:hover, .rs-picker-toolbar-right-btn-ok.rs-picker-toolbar-btn-disabled:hover:active{ background-color:#305da8; }
.rs-calendar-table-cell-content:hover{ background-color:#ebf2fc; }
.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value{ color:#fff; }
.rs-picker-placement-bottom-end .rs-picker-toggle-caret:before, .rs-picker-placement-bottom-start .rs-picker-toggle-caret:before, .rs-picker-toggle-caret:before{ width:24px; height:24px; display:block; content:'' !important; background:url("../images/ico_calendar_24px.svg"); }
.rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-clean, .rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-clean{ right:34px;}
.rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-caret, .rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-caret{ right:10px; top:6px; }