@charset "utf-8";

#wrap{width:100%; min-width:1903px; height:100%; display:flex;}

/* gnb */
#gnb{ position:relative; width:240px; height:100vh; border-right:1px solid #eef4fd; background:#eef4fd; box-sizing:border-box; }
.gnb_header{display:flex; justify-content:center; align-items:center; width:100%; height:101px; }
.gnb_header .logo a > span{ display:inline-block;text-indent:-9999px; }
#gnb .gnb_stn{ position:relative; height:calc(100vh - 101px); overflow-y:auto; }
#gnb .gnb_stn::-webkit-scrollbar { display:none; }
  
/* snb */
#snb{ display:flex; justify-content:flex-start; align-items:center; height:16px; font-weight:500; letter-spacing:-0.5px; }
#snb a{ color:#7c848e; }

/* gnb_user */
.gnb_user{ position:relative; }
.btn_gnb_user{ width:100%; height:56px; display:flex; align-items:center; justify-content:space-between; padding:0 24px 0 36px; background:#305da8;}
.btn_gnb_user .user_left{ display:flex; align-items:center; }
.btn_gnb_user .user_left img{ width:32px; height:32px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; margin-right:12px; }
.btn_gnb_user .user_left .desc{ width:100px; text-align:left; }
.btn_gnb_user .user_left .desc .depart{ display:block ;color:#edeff4; font-size:12px; letter-spacing:-0.5px; }
.btn_gnb_user .user_left .desc .name{ display:block; overflow:hidden; width:100%; color:#fff; text-overflow:ellipsis; white-space:nowrap; }

/* btn_logout */
.gnb_user .btn_logout{ display:flex; align-items:center; justify-content:center; position:absolute; top:100%; left:0; width:100%; background-color:#305da8; opacity:0; transition:opacity 0.2s ease-in-out; -webkit-transition:opacity 0.2s ease-in-out; -moz-transition:opacity 0.2s ease-in-out; -ms-transition:opacity 0.2s ease-in-out; -o-transition:opacity 0.2s ease-in-out; cursor:pointer; }
.gnb_user .btn_logout span{ height:0; margin-left:7px; color:#fff; font-weight:500; }
.gnb_user .btn_logout img{ height:0; }
.gnb_user.on .btn_logout{ opacity:1; height:100%; z-index:1; }
.gnb_user.on .btn_logout img{ height:auto; }
.gnb_user.on .btn_logout span{ height:auto; }
.gnb_user.on .accIcon img{ transform:rotate(-180deg) ; -webkit-transform:rotate(-180deg) ; -moz-transform:rotate(-180deg) ; -ms-transform:rotate(-180deg) ; -o-transform:rotate(-180deg) ; }

/* notice_cont */
.notice_cont{ position:relative; width:100%; height:56px; z-index:0; }
.notice_cont .btn_notice{ display:flex; align-items:center; justify-content:flex-start; width:100%; height:100%; padding-left:36px; background:transparent; color:#305da8; letter-spacing:-0.5px; cursor:pointer; }
.notice_cont .btn_notice span{ font-weight:500; margin-left:12px; color:#305da8; letter-spacing:-0.5px; }
.notice_cont .btn_notice.on{ padding-left:32px; border-left:4px solid #305da8; background:#fff;  box-sizing:border-box; }
.noti_wrap{display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:0; }
.noti_wrap.on {display:block; z-index:1;}
.noti_wrap .notice_popup{ opacity:0; position:absolute; left:246px; top:157px; width:360px; height:auto; padding:16px 6px 16px 16px; border: solid 1px #ebf2fc; background:#eef4fd; box-sizing:border-box; box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.12); transition:0.3s ease-out; -webkit-transition:0.3s ease-out; -moz-transition:0.3s ease-out; -ms-transition:0.3s ease-out; -o-transition:0.3s ease-out; z-index:-1; }
.noti_wrap .notice_popup .noti_tit{ margin-bottom:12px; font-weight:500; text-align:center; }
.noti_wrap .notice_popup .noti_list_cont{ display:block; max-height:calc(100vh - 238px);  padding-right:6px; scrollbar-color:rgba(255,255,255, 0.7) transparent; scrollbar-width:thin; overflow-y:auto; }
.noti_wrap .notice_popup .noti_list_cont::-webkit-scrollbar-thumb{ background-color:#fff; }
.noti_wrap .notice_popup .noti_list_cont::-webkit-scrollbar-track{ background-color:transparent; box-shadow:none; }
.noti_wrap .notice_popup .noti_list_cont .noti_list{ display:flex; align-items:center; margin-top:2px; padding:12px; background:#fff; box-sizing:border-box; }
.noti_wrap .notice_popup .noti_list_cont .noti_list:first-child{margin:0;}
.noti_wrap .notice_popup .noti_list_cont .noti_list > img{ width:32px; height:32px; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background:#fff; }
.noti_wrap .notice_popup .noti_list_cont .noti_list > div{ margin-left:12px; }
.noti_wrap .notice_popup .noti_list_cont .noti_list > div b{ display:block; font-weight:400; letter-spacing:-0.5px; }
.noti_wrap .notice_popup .noti_list_cont .noti_list > div p span{ color:#848680; font-size:12px; letter-spacing:-0.5px;}
.noti_wrap .noti_bg{ display:none; position:fixed; top:0; left:0; width:100%; height:100%; }
.noti_wrap.on .notice_popup{opacity:1; z-index:1; }
.noti_wrap.on .noti_bg{ display:block; z-index:0; }

/* accordion */
.accordion, .accordion_none{ display:flex; align-items:center; justify-content:space-between; width:100%; padding:18px 24px 18px 36px; background:#eef4fd; font-size:14px; font-weight:500; text-align:left; letter-spacing:-0.5px; transition:0.15s; -webkit-transition:0.15s; -moz-transition:0.15s; -ms-transition:0.15s; -o-transition:0.15s; }
.accordion .txt, .accordion_none .txt{ display:flex; align-items:center; letter-spacing:-0.5px; box-sizing:border-box; }
.accordion_none{ cursor:pointer; }
.accordion .txt img, .accordion_none .txt img{ margin-right:12px; }
.accordion_active, .accordion:hover, .accordion_none:hover{ background:#fff; }
.accordion_active{ padding-left:32px; border-left:4px solid #305da8; }
.accordion_active .txt{ font-weight:700; color:#305da8; }
.accordion .txtImg{ display:block; width:20px; height:20px; margin-right:12px; }
.accordion .dashboardImg{ background:url("../images/ico_dashboard_20px.svg"); }
.accordion .deviceImg{ background:url("../images/ico_device_20px.svg"); }
.accordion .sceneImg{ background:url("../images/ico_scene_20px.svg"); }
.accordion .distributionImg{ background:url("../images/ico_distribution_20px.svg"); }
.accordion .conciergeImg{ background:url("../images/ico_monitor_20px.svg"); }
.accordion_active .dashboardImg{ background:url("../images/ico_dashboard_active_20px.svg"); }
.accordion_active .deviceImg{ background:url("../images/ico_device_active_20px.svg"); }
.accordion_active .sceneImg{ background:url("../images/ico_scene_active_20px.svg"); }
.accordion_active .distributionImg{ background:url("../images/ico_distribution_active_20px.svg"); }
.accordion_active .conciergeImg{ background:url("../images/ico_monitor_active_20px.svg"); }
.accordion .accIcon{ width:20px; height:20px; background:url('../images/ico_arrow_down_black_24px.svg'); }
.accordion_active .accIcon{ width:20px; height:20px; background:url('../images/ico_arrow_up_blue_24px.svg'); }

/* gnb_shortcut */
.gnb_shortcut{ width:100%; padding:24px 0; }
.gnb_shortcut .tit{ color:#848680; letter-spacing:-0.5px; padding:0 0 12px 36px; }
.gnb_shortcut .btn_shortcut{ display:flex; align-content:center; width:100%; padding:14px 0 14px 36px; font-weight:500; letter-spacing:-0.5px; box-sizing:border-box; }
.gnb_shortcut .btn_shortcut img{ width:20px; height:20px;  margin-left:6px; }

/* panel */
.panel{ overflow:hidden; max-height:0; border-left:4px solid #305da8; background:#fff; transition:max-height 0.2s ease-out; -webkit-transition:max-height 0.2s ease-out; -moz-transition:max-height 0.2s ease-out; -ms-transition:max-height 0.2s ease-out; -o-transition:max-height 0.2s ease-out; box-sizing:border-box; }
.panel > ul{ box-sizing:border-box; padding-bottom:12px;}
.panel > ul > li{ display:flex; align-items:center; width:100%; height:42px; position:relative; padding:0 0 0 52px; box-sizing:border-box; }
.panel > ul > li a{ display:flex; align-items:center; letter-spacing:-0.5px; }
.panel .hexagon{ display:block; position:relative; width:6px;  height:2px; background-color:#bdc6d2; margin-right:12px; } 
.panel .hexagon:before, .panel .hexagon:after{ content:""; position:absolute; width:0; border-left:3px solid transparent; border-right:3px solid transparent; } 
.panel .hexagon:before{ bottom:100%; border-bottom:2px solid #bdc6d2; }
.panel .hexagon:after{ top:100%; width:0; border-top:2px solid #bdc6d2; }
.panel > ul > li.on .hexagon{ background-color:#305da8;}
.panel > ul > li.on .hexagon:before{ bottom:100%; border-bottom:2px solid #305da8; }
.panel > ul > li.on .hexagon:after{ top:100%; width:0; border-top:2px solid #305da8; }
.panel > ul > li a > img{ margin-left:6px; }

/* contents */
#contents{ position:relative; width:calc(100% - 240px); min-height:100vh; background:#fff;  scrollbar-color:rgba(0,0,0,0.15) transparent; scrollbar-width:thin; box-sizing:border-box; overflow-y:auto; }
#contents::-webkit-scrollbar{ width:4px; height:4px; }
#contents::-webkit-scrollbar-thumb{background-color: #bbb; border-radius:16px; background-clip:border-box; border:4px solid transparent; -webkit-border-radius:16px; -moz-border-radius:16px; -ms-border-radius:16px; -o-border-radius:16px;}
#contents::-webkit-scrollbar-track{background-color: #FFFFFF; border-radius:0; box-shadow: inset 0px 0px 5px white; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0;}

.content{ display:flex; flex-direction:column; width:100%; height:auto; min-height:100vh; padding:24px 48px 40px; box-sizing:border-box;} 

/* stn_top */
.stn_top{  }
.stn_top .cont{ display:flex; justify-content:space-between; position:relative; height:32px; padding:0 0 24px; }
.stn_top .sta{ display:flex; align-items:flex-end; font-size:20px; font-weight:700; }
.stn_top .sta span{ margin-left:8px; color:#305da8; font-size:20px; font-weight:700; }
.stn_top .sta a{ position:relative; margin-top:-1px; margin-left:8px; color:#bdc6d2; font-size:20px; font-weight:700; }
.stn_top .sta a + a{ margin-left:16px; }
.stn_top .sta a.on{ color:#305da8; }
.stn_top .sta a.on:after{ position:absolute; bottom:-5px; content:''; display:block; width:100%; height:1px; background:#305da8; }
.stn_top .cont .top_right_cont{ display:flex; align-items:center; gap:24px; }
.stn_top .search_wrap.type02{ margin-left:353px; }
.stn_top .cont .version_box{ display:flex; align-items:center; gap:12px; }
.stn_top .cont .version_box .btn_version{ width:113px; height:36px; padding:8px 40px 8px 15px; border:1px solid #305da8; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; background-color:#fff; background-image:url("../images/ico_version_24px.svg"); background-position:78px center; background-repeat:no-repeat; color:#7c848e; letter-spacing:-0.5px;; font-size:14px; font-weight:400; cursor:pointer; }
.stn_top .cont .top_calendar{ display:flex; align-items:center; }
.stn_top .cont .top_calendar .delivery_period{ margin-right:12px; letter-spacing:-0.5px; }
.stn_top .top_calendar .input_calendar{ }
.stn_top .top_calendar .datepicker{ width:220px; height:36px; padding:8px 40px 8px 15px; border-color:#305da8; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; background-color:#fff; background-image:url("../images/ico_calendar_24px.svg"); background-position:180px center; background-repeat:no-repeat; font-size:14px; font-weight:400; }
/* daterangepicker */
.daterangepicker{ /* position:fixed !important; right:64px !important; */ border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; }
.daterangepicker.opensright:after{right:104px; left:auto;}
.daterangepicker.opensright:before{right:103px; left:auto;}
.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span{ border-color:#305da8; }
.daterangepicker .drp-buttons .btn{ border-radius:0; color:#fff; font-weight:400; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; cursor:pointer;}
.daterangepicker .drp-buttons .cancelBtn{ background:#bdc6d2; }
.daterangepicker .drp-buttons .applyBtn{background:#305da8;}
.daterangepicker td.active, .daterangepicker td.active:hover{ background-color:#305da8; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; }
.daterangepicker select.monthselect, .daterangepicker select.yearselect{ border-color:#bdc6d2; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; }
.daterangepicker td.start-date.end-date{ border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; }
.daterangepicker.customDeviceList{ position:fixed; right:48px !important; }

/* search_wrap */
.search_wrap{ display:flex; justify-content:center; align-items:center; }
.search_wrap .select_box + .search_box{margin-left:8px;}

/* search_box */
.search_box{ display:flex; justify-content:space-between; align-items:center; width:288px; height:36px; padding:8px 16px; border:1px solid #305da8; background:#fff; box-sizing:border-box;}
.search_box input{ width:220px; height:100%; background:#fff; font-size:14px; font-weight:400; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; padding:0; border:0; }
.search_box button{ height:24px;background:transparent; cursor:pointer;}
.select_box .custom_select{ position:relative; width:183px; }
.select_box .custom_select select{display:none; }
.select-selected{height:36px; border:1px solid #305da8; background:#fff; }
.select-selected:after { position:absolute; content:""; top:6px; right:10px; width:24px; height:24px; background-image:url('../images/ico_arrow_down_blue_24px.svg'); }
.select-selected.select-arrow-active:after { top:6px; background-image:url('../images/ico_arrow_up_blue_24px.svg'); }
.select-items{ position:absolute; top:calc(100% + 4px); left:0; right:0; padding:8px 0; border:1px solid #305da8; background-color:#fff; z-index:2; }
.select-items li, .select-selected { color:#444; padding:8px 16px; cursor:pointer; user-select:none; box-sizing:border-box; }
.select-hide{ display:none; }  
.select-items li:hover, .same-as-selected { background-color:rgba(0, 0, 0, 0.1);}
/* .select-items li:nth-child(1)  {color:#bdc6d2;} */
.select-selected.color_lightGray{color:#bdc6d2;}

/* link_tab */
.stn_top .link_tab{ position:absolute; left:50%; top:0; transform:translate(-50%, 0); -webkit-transform:translate(-50%, 0); -moz-transform:translate(-50%, 0); -ms-transform:translate(-50%, 0); -o-transform:translate(-50%, 0); }
.stn_top .link_tab .link_cnt{ margin-left:0; width:100%; height:32px; }
.stn_top .link_tab .link_cnt li{ float:left; position:relative; width:148px; height:100%; border:1px solid #bfc8d3; border-left:0; border-right:0; box-sizing:border-box; z-index:1; }
.stn_top .link_tab .link_cnt li:first-child{ border-left:1px solid #bfc8d3; }
.stn_top .link_tab .link_cnt li:last-child{ border-right:1px solid #bfc8d3; }
.stn_top .link_tab .link_cnt li.on{ border:1px solid #305da8; z-index:2; }
.stn_top .link_tab .link_cnt li::after{ content:''; position:absolute; top:7px; right:-1px; width:1px; height:16px; background:#bfc8d3; }
.stn_top .link_tab .link_cnt li.on::after{ display:none; }
.stn_top .link_tab .link_cnt li a{ display:flex; align-items:center; justify-content:center; width:100%; height:100%; box-sizing:border-box; margin:-1px 0 0 -1px; color:#bdc6d2; font-size:16px; }
.stn_top .link_tab .link_cnt li.on a{ color:#305da8; font-weight:700; }

/* stn_cont */
.stn_cont{ width:100%; background:#fff; box-sizing:border-box; }
.stn_cont .table_cont{ width:100%; padding:0; box-sizing:border-box; border-bottom:1px solid #ebf2fc; }
.table_cont table{ width:100%; }
.stn_cont .stn_video_div{ display:flex; justify-content:space-between; min-height:612px; }
/* stn_cont table */
.stn_cont .table_cont table{ min-width:1584px; }
.table_cont table thead{ background:#eef4fd; }
.table_cont table thead th{ height:40px; color:#7c848e; letter-spacing:-0.5px; text-align:center; vertical-align:middle; line-height:1; }
.table_cont table thead th > div{ cursor:pointer; }
.table_cont table thead th span{ color:#7c848e; vertical-align:-1px;}
.table_cont table thead th img{vertical-align:middle;}
.table_cont table tbody tr{border-bottom:1px solid #ebf2fc;}
.table_cont table tbody tr:last-child{border-bottom:0;}
.table_cont table tbody tr:hover{background:#f9f9f9;}
.table_cont table tbody td{ height:52px; text-align:center; vertical-align:middle; padding:12px 0; line-height:20px; box-sizing:border-box; }
/* checkbox */
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label{ display:inline-block; width:16px; height:16px; background:#fff; border:1px solid #bdc6d2; cursor:pointer; }
input[type="checkbox"]:checked + label{ border-color:#4279be; background:url("../images/ico_checkbox_checked.svg") #4270be no-repeat center; }
input[type="checkbox"].notAll + label{ border-color:#4279be; background:url("../images/ico_checkbox_not_all.svg") #4270be no-repeat center; }
input[type="checkbox"].type02 + label{ display:flex; align-items:center; justify-content:center; width:auto; background:transparent; border:0; }
input[type="checkbox"].type02 + label span{ display:inline-block; width:16px; height:16px; margin-right:12px; border:1px solid #4270be; cursor:pointer; box-sizing:border-box; }
input[type="checkbox"].type02:checked + label span{ border-color:#4270be; background:url("../images/ico_checkbox_checked.svg") #4270be no-repeat center; }
input[type="checkbox"].type02 + label .text, input[type="checkbox"].type02:checked + label .text{ width:auto; height:auto; margin:0; border:0; background:unset; font-size:16px; }

/* 보기 버튼 */
.btn_detailPage{ display:inline-flex; align-items:center; padding:5px 15px; cursor:pointer; }
.btn_detailPage span{ display:inline-block; margin-right:6px; color:#305da8; transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -ms-transition:all 0.3s; -o-transition:all 0.3s; }

/* 수정하기 버튼 */
.btn_edit{ display:inline-flex; align-items:center; padding:5px 15px; cursor:pointer; }
.btn_edit span{ display:inline-block; margin-right:6px; color:#305da8; transition:all 0.3s; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -ms-transition:all 0.3s; -o-transition:all 0.3s; }

/* stn_btm */
.stn_btm{ margin-top:24px; }
.stn_btm .btm_btn_cont{ display:flex; justify-content:space-between; }
.stn_btm .btn_register{ letter-spacing:-0.22px; }
.stn_btm .btn_register:hover{background-color:#4270be;}
.btn_delete{ display:flex; justify-content:center; align-items:center; width:83px; height:44px; background:transparent; border:1px solid #bdc6d2; color:#bdc6d2; font-weight:500; letter-spacing:-0.22px; }
.btn_delete:disabled{ background:transparent; color:#bdc6d2; border:1px solid #bdc6d2; }
.btn_delete:enabled{ border-color:#444; color:#444; cursor:pointer; }
.btn_delete.active{ border-color:#444; color:#444; }

/* .btm_cnt */
.btm_cnt{ margin-top:24px; }
.btm_cnt .btm_btn_cont{ display:flex; justify-content:space-between; }

/* paging_cont */
.paging_cont { width:100%; height:24px; margin-top:20px; }
.paging_cont .paging { display:flex; justify-content:center; align-items:center; }
.paging_cont .paging a{ display:flex; justify-content:center; align-items:center; width:24px; height:24px; margin:0 3px; color:#848680; font-size:12px; background:#fff; box-sizing:border-box; }
.paging_cont .paging a span { color:#848680; font-size:12px; }
.paging_cont .paging .on{ color:#305da8; font-size:14px; font-weight:500; border:1px solid #305da8; }
.paging_cont .paging .btn_paging{margin:0;}
.paging_cont .paging .btn_paging .blind{display:none;}
.paging_cont .paging .first{ background:url('../images/ico_arrow_prev2_active_24px.svg'); }
.paging_cont .paging .prev{ margin-right:9px; background:url('../images/ico_arrow_prev_active_24px.svg'); }
.paging_cont .paging .next{ margin-left:9px; background:url('../images/ico_arrow_next_active_24px.svg'); }
.paging_cont .paging .last{ background:url('../images/ico_arrow_next2_active_24px.svg'); }

.paging_cont .paging .first.disabled{ background:url('../images/ico_arrow_prev2_disabled_24px.svg'); }
.paging_cont .paging .prev.disabled{ background:url('../images/ico_arrow_prev_disabled_24px.svg'); }
.paging_cont .paging .next.disabled{ background:url('../images/ico_arrow_next_disabled_24px.svg'); }
.paging_cont .paging .last.disabled{ background:url('../images/ico_arrow_next2_disabled_24px.svg'); }

/* select_branch */
/* .select_branch{ display: inline-flex; align-items:center; }
.select_branch p{color:#305da8; letter-spacing:-0.5px;} */

/* stn_cont_top */
.stn_cont_top{ display:flex; justify-content:space-between; width:100%; height:auto; margin-bottom:24px; padding:24px 48px; border:1px solid #eef4fd; box-sizing:border-box; }
.stn_cont_top .stn_contTop_div{ font-size:16px; letter-spacing:-0.5px; }
.stn_cont_top .stn_cntTop_tit{ font-size:16px; margin-bottom:20px; font-weight:700; }
.stn_cont_top .stn_cntTop_ul{ display:flex; align-items:center; min-height:36px; }
.stn_cont_top .cnt_top_tit{ color:#7c848e; font-size:14px; }
.stn_cont_top .cnt_top_tit + .cnt_top_desc{ margin-left:12px; }
.stn_cont_top .cnt_top_desc .device_numb{ width:67px; height:36px; padding:6px 14px; font-size:16px; }
.stn_cont_top .cnt_top_desc + .cnt_top_tit{ margin-left:24px; }
.stn_cont_top .cnt_top_desc{ font-size:16px; }
.stn_cont_top .input_disabled{ height:36px; padding:6px 12px; border:0; border-radius:0; border:1px solid #ebf2fc; background:#f9f9f9; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; font-size:16px; font-weight:500; }
.stn_cont_top .input_disabled.tac{ padding:6px 0; }
.stn_cont_top .input_disabled.w208{ width:208px !important; }
.stn_contTop_div .disflex{ align-items:center; justify-content:center; }
.cntTop_ul_div{ width:100%; display:flex; }
.cntTop_ul_div .stn_cntTop_ul + .stn_cntTop_ul{ margin-left:40px; }

/* video_cont */
.video_cont{ width:1088px; }
.video_cont .video_area{ position:relative; background:#000; height:612px; }
.video_cont .video_area .vid{ width:100%; height:100%; background:url("../images/img_preview_flag.png"); background-position:left top; background-repeat:no-repeat;}
.video_cont .video_area .video{ width:100%; height:100%;}
.video_cont .video_btn_cont{ position:absolute; top:8px; right:16px; }
.video_cont .video_btn_cont button{ display:flex; align-items:center; justify-content:center; width:100px; height:40px; margin-top:8px; border:1px solid #c7842e; background:transparent; color:#c7842e; font-weight:500; letter-spacing:-0.5px; cursor:pointer; box-sizing:border-box; transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -webkit-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -moz-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -ms-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -o-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); }
.video_cont .video_btn_cont button:hover{background-color:#c7842e; color:#fff; }

h3.cont_tit{ font-size:16px; font-weight:700; letter-spacing:-0.5px; }
h3.cont_tit em{ color:#c7842e; font-size:16px; font-weight:700; letter-spacing:-0.5px; }

/* stn_lineBox - concierge_notice_enroll */
.stn_lineBox{ position:relative; width:100%; min-width:1580px; padding:48px 45px; border:solid 1px #eef4fd; box-sizing:border-box; } 
.stn_lineBox.type02{ padding:24px 48px; } 
.stn_lineBox + .stn_lineBox{ margin-top:24px; }

/* btn common  */
.btn_gray{ display:inline-flex; align-items:center; justify-content:center; width:auto; min-width:76px; height:44px; padding:0 16px; border:0; background:#848680; color:#fff; font-weight:500; cursor:pointer; transition:background-color 0.3s ease-in-out; -webkit-transition:background-color 0.3s ease-in-out; -moz-transition:background-color 0.3s ease-in-out; -ms-transition:background-color 0.3s ease-in-out; -o-transition:background-color 0.3s ease-in-out; box-sizing:border-box; }
.btn_gray_type02{ display:inline-flex; align-items:center; justify-content:center; width:auto; min-width:80px; height:36px; padding:0 0; border:0; background:#848680; color:#fff; font-weight:500; cursor:pointer; transition:background-color 0.3s ease-in-out; -webkit-transition:background-color 0.3s ease-in-out; -moz-transition:background-color 0.3s ease-in-out; -ms-transition:background-color 0.3s ease-in-out; -o-transition:background-color 0.3s ease-in-out; box-sizing:border-box; }
.btn_blue{ display:inline-flex; justify-content:center; align-items:center; min-width:76px; width:auto; height:44px; padding:0 16px; border:0; background:#305da8; color:#fff; font-weight:500; cursor:pointer; transition:background-color 0.3s ease-in-out; -webkit-transition:background-color 0.3s ease-in-out; -moz-transition:background-color 0.3s ease-in-out; -ms-transition:background-color 0.3s ease-in-out; -o-transition:background-color 0.3s ease-in-out; box-sizing:border-box; }
.btn_blue_type02{ display:inline-flex; justify-content:center; align-items:center; min-width:80px; width:auto; height:36px; padding:0; border:0; background:#305da8; color:#fff; font-weight:500; cursor:pointer; transition:background-color 0.3s ease-in-out; -webkit-transition:background-color 0.3s ease-in-out; -moz-transition:background-color 0.3s ease-in-out; -ms-transition:background-color 0.3s ease-in-out; -o-transition:background-color 3s ease-in-out; box-sizing:border-box; }
.btn_blue_type03{ display:inline-flex; justify-content:center; align-items:center; min-width:132px; width:auto; height:44px; padding:0 16px; border:0; background:#305da8; color:#fff; font-weight:500; cursor:pointer; transition:background-color 0.3s ease-in-out; -webkit-transition:background-color 0.3s ease-in-out; -moz-transition:background-color 0.3s ease-in-out; -ms-transition:background-color 0.3s ease-in-out; -o-transition:background-color 0.3s ease-in-out; box-sizing:border-box; }
.btn_blueline_icon{ display:flex; align-items:center; justify-content:center; height:36px; margin-left:12px; padding:0 11px; border:1px solid #305da8; background:#fff; color:#305da8;  font-size:14px; box-sizing:border-box; cursor:pointer; }

/* btm_btn_right */
.btm_btn_right{display:flex;}
.btm_btn_right button + button { margin-left:12px; }
.btm_btn_right button + a { margin-left:12px; }
.btm_btn_right a + a { margin-left:12px; }
.btm_btn_right a + button { margin-left:12px; }
/* btn_cancel */
.btn_list{ letter-spacing:-0.22px; }
.btn_save{ letter-spacing:-0.22px; }

/* video_setting_bg */
.video_setting_bg{ position:relative; width:100%; height:96px; margin-top:24px; padding:12px 44px 12px; border:1px solid #eef4fd; box-sizing:border-box; }
.video_setting_bg .cont_tit{ position:absolute; top:24px; left:48px; }
.video_setting_bg .bg_btn_cont{display:flex; align-items:center; justify-content:center; }
.video_setting_bg .btn_bgC{ position:relative; width:72px; height:72px; margin:0 16px; background:#000; cursor:pointer; box-sizing:border-box; }
.video_setting_bg .btn_bgC.select:after{ position:absolute; top:-4px; left:-4px; content: ''; border:1px solid #305da8; width:80px; height:80px; box-sizing:border-box; }
.video_setting_bg .btn_bg_color01{ background-color:#bdc6d2; }
.video_setting_bg .btn_bg_color02{ background-color:#e2e2e2; }
.video_setting_bg .btn_bg_color03{ background-color:#fff; border:1px solid #e2e2e2; }
.video_setting_bg .btn_bg_color04{ background-color:#c0becf; }
.video_setting_bg .btn_bg_color05{ background-color:#c4ccbd; }
.video_setting_bg .btn_bg_color03.select:after{ top:-5px; left:-5px; }

/* video_setting_cont */
.video_setting_cont{ display:flex; flex-direction:column; justify-content:space-between; width:calc(100% - 1112px); height:auto; margin-left:24px; padding:48px 42px 48px 40px; border:1px solid #eef4fd; background:#fff; box-sizing:border-box; }
.video_setting_cont .cont_tit + .cont_title{ margin-top:36px; }
.video_setting_cont .cont_title{ color:#7c848e; font-weight:500; }
/* model_slide */
.model_slide{position:relative;}
.model_slide_div{ overflow:hidden; width:348px; padding:4px; margin:12px 0 0 -4px; }
.model_slide_div .swiper-slide{width:108px; height:108px;}
.model_slide_div .swiper-slide button{ position:relative; width:108px; height:108px; background:#e2e2e2; cursor:pointer; }
.model_slide_div .swiper-slide.select button:after{ position:absolute; top:-4px; left:-4px; content: ''; border:1px solid #305da8; width:116px; height:116px; box-sizing:border-box; }
.model_slide_div .swiper-slide button img{width:100%; height:100%;}
.model_slide .btn_model_next{ position:absolute; top:4px; right:-12px; width:24px; height:108px; background:#fff; cursor:pointer; }
.model_slide .btn_model_next img{ width:100%; }

/* clothes_cont */
.model_slide + .cont_title{ margin-top:60px; }
.clothes_cont{ display:flex; flex-wrap:wrap; margin:6px -6px -6px -6px; }
.clothes_cont .img_wrap{ display:none; }
.clothes_cont .img_wrap.select{ display:block; }
.clothes_cont .btn_clothes{ position:relative; width:108px; height:144px; margin:6px; cursor:pointer;}
.clothes_cont .btn_clothes img{width:100%; height:100%;}
.clothes_cont .btn_clothes.select:after{ position:absolute; top:-4px; left:-4px; content: ''; border:1px solid #305da8; width:116px; height:152px; box-sizing:border-box; }

/* btm_btn_cont */
.video_setting_cont .btm_btn_cont{ display:flex; justify-content:space-between; align-items:center; }
/* btn_reset */
.btn_reset{ display:inline-flex; justify-content:center; align-items:center; width:82px; height:44px; bordeR:1px solid #c7842e; background:transparent; color:#c7842e; box-sizing:border-box; cursor:pointer; transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -webkit-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -moz-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -ms-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -o-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); }
.btn_reset img{ margin-left:7px; }
.btn_reset:hover{background-color:#c7842e; color:#fff; }

/* video_detail */
.video_detail .video_cont .video_area{ height:675px; }
/* video_detail_cont */
.video_detail_cont{ display:flex; align-items:center; justify-content:flex-start; width:100%; height:61px; background:#4270be; padding:0 44px; box-sizing:border-box; }
.video_detail_cont > *{ font-size:16px; font-weight:700; letter-spacing:-0.5px; }
.video_detail_cont b{ margin-right:12px; }
.video_detail_cont em{ color:#fff; }
.video_detail_cont span{ margin:0 16px; color:#fff; }
.video_detail_cont span + em{ letter-spacing:0; }
.video_detail_cont + .video_area{ height:675px; margin-top:24px; }
/* video_detail video_setting_cont */
.video_detail .video_setting_cont{ padding:48px 44px; }
.video_detail .video_setting_cont .detail_cont{ margin-top:36px; }
.video_detail .video_setting_cont .flex_box{display:flex; align-items:center; justify-content:flex-start; margin-top:36px; }
.video_detail .video_setting_cont .flex_box .cont_title{ margin-top:0; }
.video_detail .video_setting_cont .flex_box .detail_cnt{ margin-left:16px; padding:4px 16px; border:1px solid #e2e2e2; font-size:16px; font-weight:500; letter-spacing:0.5px; }
.video_detail .video_setting_cont .detail_cont .detail_cnt{ margin-top:18px; }
.video_detail .select_model img{ display:block; width:108px; height:108px; }
.video_detail .select_clothes img{ display:block; width:108px; height:144px;}
.video_detail .select_bg .detail_bg{ display:block; width:72px; height:72px; background:#000; text-align:center; }

/* btn_reset */
.btn_undo{ display:inline-flex; justify-content:center; align-items:center; width:82px; height:44px; bordeR:1px solid #c7842e; background:transparent; color:#c7842e; box-sizing:border-box; cursor:pointer; transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -webkit-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -moz-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -ms-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); -o-transition:all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1); }
.btn_undo:hover{background-color:#c7842e; color:#fff; }

/* scroll_box */
.scroll_box{ overflow-y:scroll; overflow-x:hidden; width:calc(100% + 24px); height:636px; box-sizing:border-box; scrollbar-width:thin; scrollbar-color:#ebf2fc transparent; }
.scroll_box.type02{ height:596px; }
.scroll_box.type03{ height:516px; }
.scroll_box::-webkit-scrollbar{ width:24px; }
.scroll_box::-webkit-scrollbar-thumb{ background-color:#ebf2fc; border-right:10px solid #fff; border-left:10px solid #fff; border-top:0; border-bottom:0; border-radius:0; }

/* scroll_table scrollbar */
.table_cont table tbody td.td_btn{ padding:0; }
.btn_video_view{ display:inline-flex; align-items:center; justify-content:center; padding:12px 15px; background:transparent; color:#305da8; box-sizing:border-box; cursor:pointer; }
.btn_video_view img{ margin-left:6px; }

/* btn_excel_download */
.btn_excel_download{ display:flex; justify-content:center; align-items:center; width:auto; height:44px; padding:0 16px; background:transparent; border:1px solid #bdc6d2; color:#bdc6d2; font-weight:500; }
.btn_excel_download .ico_img{ display:block; width:20px; height:20px; margin-right:6px; background:url("../images/ico_excel_gray_20px.svg") no-repeat 100%; }
.btn_excel_download:disabled{ background:transparent; color:#bdc6d2; cursor:default; }
.btn_excel_download:enabled{ border-color:#107c41; color:#107c41; cursor:pointer; }
.btn_excel_download:enabled .ico_img{ background:url("../images/ico_excel_green_20px.svg") no-repeat 100%; }

/* btn_excel_upload */
.btn_excel_upload{ display:flex; justify-content:center; align-items:center; width:auto; height:44px; padding:0 16px; background:#107c41; border:1px solid #107c41; color:#fff; font-weight:500; cursor:pointer; }
.btn_excel_upload .ico_img{ display:block; width:20px; height:20px; margin-right:6px; background:url("../images/ico_excel_white_20px.svg") no-repeat 100%; }


/* checkbox - cbMenual */
input[name="cbMenual"] + label{ display:inline-flex; justify-content:center; align-items:center; width:68px; height:32px; background:#fff; cursor:pointer; border:1px solid #bdc6d2; border-radius:16px; -webkit-border-radius:16px; -moz-border-radius:16px; -ms-border-radius:16px; -o-border-radius:16px; color:#bdc6d2; line-height:30px; letter-spacing:-0.5px; box-sizing:border-box; }
input[name="cbMenual"]:checked + label{ width:92px; border-color:#305da8; color:#305da8; background-color:transparent; background:none; }
input[name="cbMenual"]:checked + label .ico_chcek{ display:inline-block; width:16px; height:16px;  margin-right:6px; background:url("../images/ico_check_16px.png") 100% no-repeat; }

/* 영상 목록 생성 버튼 */
.btn_create_video:disabled{ background:#bdc6d2; color:#fff; cursor:default; }

/* none_cont */
.none_cont{ display:flex; flex-direction:column; justify-content:center; align-items:center; height:516px; }
.none_cont p{ margin-top:24px; font-size:16px; }

table td .status_ing{ color:#bdc6d2; }
table td .btn_retry{ width:72px; height:32px; border:1px solid #c7842e; border-radius:16px; -webkit-border-radius:16px; -moz-border-radius:16px; -ms-border-radius:16px; -o-border-radius:16px; background:transparent; color:#c7842e; text-align:center; line-height:30px; cursor:pointer; }
/* btn_stopMake */
.btn_stopMake{ display:none; justify-content:center; align-items:center; min-width:76px; width:auto; height:44px; padding:0 16px; border:0; background:#c7842e; color:#fff; font-weight:500; cursor:pointer; }
/* btn_distributeStop */
.btn_distributeStop{ display:none; justify-content:center; align-items:center; min-width:76px; width:auto; height:44px; padding:0 16px; border:0; background:#c7842e; color:#fff; font-weight:500; cursor:pointer; }

/* btn_radio_txt */
input[type="radio"]{ display:none; }
.btnR_txt_cont{ display:inline-flex; position:relative; }
.btn_radio_txt{ margin-left:-1px; }
.btn_radio_txt:first-child{ margin-left:0; }
.btn_radio_txt input[type="radio"] + label{ position:relative; display:flex; justify-content:center; align-items:center; width:58px; height:36px; border:1px solid #ebf2fc; color:#bdc6d2; font-family:'Noto Sans KR', sans-serif; font-size:16px; font-weight:500; cursor:pointer; z-index:0; }
.btn_radio_txt input[type="radio"]:checked + label{ border-color:#305da8; color:#305da8; z-index:1; }
.btnR_txt_cont.type02 .btn_radio_txt input[type="radio"] + label{ width:84px; font-size:14px; font-weight:400; }
.btnR_txt_cont.type03 .btn_radio_txt input[type="radio"] + label{ width:58px; font-size:14px; font-weight:400; }

/* lineBox_cnts */
.lineBox_cnts{ display:flex; align-items:center; justify-content:flex-start; }
.lineBox_cnts + .lineBox_cnts{ margin-top:20px; }
.lineBox_cnts .lineBox_cnts_ul + .lineBox_cnts_ul{ margin-left:24px; }
.lineBox_cnts_ul{ display:flex; justify-content:center; align-items:center; }
.lineBox_cnts_ul .lineBox_cnts_tit{ width:56px; color:#7c848e; font-weight:500; line-height:24px; }
.lineBox_cnts_ul .lineBox_cnts_tit + .lineBox_cnts_cont{ margin-left:12px; }
.lineBox_cnts_ul .lineBox_cnts_tit + .lineBox_cnts_cont span{ font-size:16px; font-weight:500; line-height:24px; letter-spacing:-0.5px; white-space:pre; }
.lineBox_cnts_ul .lineBox_cnts_cont input{ border-color:#ebf2fc; font-size:16px; font-weight:500; letter-spacing:-0.5px; }
.lineBox_cnts_ul .lineBox_cnts_cont input[type="text"]{ height:36px; padding:6px 16px; }
.lineBox_cnts_ul .w518{ width:518px; }
.lineBox_cnts_ul .orange_desc{ margin-left:12px; color:#c7842e; }
.lineBox_cnts_ul .lineBox_cnts_cont input[type="text"].tac{ padding:6px 0; }
.lineBox_cnts_ul .lineBox_cnts_cont .notice_type + .select-selected{ font-size:16px; }
.lineBox_cnts_ul .lineBox_cnts_cont .select_items_li{ font-size:16px; }
.lineBox_cnts_ul .btn_blueline_icon{ font-weight:400; }
.lineBox_cnts .top_calendar input.datepicker{ width:234px; height:36px; padding:6px 40px 8px 15px; border-color:#305da8; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; background-color:#fff; background-image:url("../images/ico_calendar_24px.svg"); background-position:196px center; background-repeat:no-repeat; font-size:16px; }
.btnSelectBranch{ display:none; }
.daterangepicker.opensright.customLeftAfter::after{ left:64px; right:auto; }
.daterangepicker.opensright.customLeftAfter::before{ left:63px; right:auto; }
.stn_btm_direction{ margin-top:48px; }
.stn_btm_direction .cont_direct{ display:flex; align-items:center; }
.stn_btm_direction .cont_direct p{ position:relative; display:flex; align-items:center; color:#7c848e; font-weight:500; letter-spacing:-0.5px; margin-right:16px; }
.stn_btm_direction .cont_direct p::after{ position:relative; top:1px; content:''; display:block; width:1px; height:12px; margin-left:16px; background:#bdc6d2; }
.stn_btm_direction .cont_direct a{ display:flex; align-items:center; height:38px; }

/* concierge_branch_detail - div_view_table */
.lineBox_cntTitle_wrap{ position:relative; display:block; }
.lineBox_cntTitle_wrap + .lineBox_cntTitle_wrap{ margin-left:100px; }
.lineBox_cntTitle_wrap .lineBox_cnt_title{ font-weight:700; font-size:16px; letter-spacing:-0.5px;}
.lineBox_cntTitle_wrap .lineBox_cnt_title span{ font-size:16px; font-weight:400; }
.lineBox_cnt_title + .lineBox_cnts{ margin-top:20px; }
.div_view_table{ width:calc(100% - 68px); display:block; }
.div_view_table .div_view_tr{ display:flex; }
.div_view_table .div_view_tr + .div_table_tbody{ margin-top:4px; }
.div_view_table .div_table_tbody{ display:block; }
.div_view_table .div_table_tbody .div_view_tr + .div_view_tr{ margin-top:8px; }
.div_view_table .div_view_tr > div:first-child{ width:216px; }
.div_view_table .div_view_tr > div + div{ width:calc(100% - 240px); margin-left: 24px; }
.div_view_table .div_view_th{ color:#bdc6d2; font-weight:500; }
.div_view_table .div_view_td{ font-weight:500; letter-spacing:-0.5px; vertical-align:top; line-height:normal; }

/* 지점정보 관리 수정 */
.btn_edit_box{ display:flex; align-items:center; justify-content:center; position:absolute; top:0; right:0; width:48px; height:48px; cursor:pointer;  background-image:url("../images/ico_plus_white_32px.svg"); background-position:center; background-color:#305da8; background-repeat:no-repeat; }
.add_stn_lineBox .btn_edit_box{ background-image:url("../images/ico_minus_white_32px.svg"); background-color:#c7842e; }
.div_viewTable_type02 .div_view_tr{ width:100%; }
.div_viewTable_type02 .div_view_tr > div:first-child{ width:232px; }
.div_viewTable_type02 .div_view_tr > div + div{ width:calc(100% - 260px); margin-left:8px; }
.div_view_table .div_view_td textarea{ display:block; width:100%; height:auto; padding:6px 16px; box-sizing:border-box; line-height:22px; }
.btn_plus_row{ display:flex; align-items:center; justify-content:center; width:36px; min-height:36px; height:auto; border:1px solid #305da8; box-sizing:border-box; cursor:pointer; }
.btn_minus_row{ display:flex; align-items:center; justify-content:center; width:36px; min-height:36px; height:auto; border:1px solid #c7842e; box-sizing:border-box; cursor:pointer; }
.floor_num{ width:56px; font-size:16px; text-align:center; }

/* filebox */
.filebox input[type="file"].upload-hidden{ position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox .upload-name{ display: inline-block; width:auto; padding:0; background:transparent; border:0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.filebox .btn_blueline_icon{ display:inline-flex; }

/* 대기화면 waiting */
.stn_cont_header{ display:flex; align-items:center; justify-content:flex-end; width:100%; min-width:1584px; padding:6px 24px; background:#e9eef5; box-sizing:border-box; }
.stn_cont_header p + .btn_blue{ margin-left:36px; }
.stn_cont_header + .table_cont{ margin-top:24px; }
.borderB{ border-bottom:1px solid #fff; }
.borderL{ border-left:1px solid #fff; }
.stn_lineBox + .table_cont{ margin-top:24px; }
.btn_view_media{ display:inline-flex; align-items:center; justify-content:center; width:268px; height:80px; cursor:pointer; }
.btn_view_media .img_area{ display:flex; align-items:center; justify-content:center; width:80px; height:80px; background:#000; }
.btn_view_media .img_area img{ max-width:80px; max-height:80px; }
.btn_view_media .img_area + span{ margin-left:36px; color:#305da8; letter-spacing:0.5px; }
.btn_view_media:disabled{ background:transparent; }
.btn_view_media:disabled .img_area{ background:#bdc6d2; }
.btn_view_media:disabled span{ color:#bdc6d2; }
.div_text_color{ display:inline-block; width:28px; height:28px; border:1px solid #ebf2fc; border-radius:50%; box-sizing:border-box; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; }
.btn_text_color{ display:inline-block; width:28px; height:28px; border:1px solid #ebf2fc; border-radius:50%; box-sizing:border-box; cursor:pointer; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; }
.stn_lineBox.type02 + .table_cont table tbody tr:hover{ background:transparent; }
.table_cont.h565{ height:565px; }
.cont_upAndDown{ display:flex; flex-direction:column; align-items:center; justify-content:center; }
.cont_upAndDown button{ width:36px; height:36px; cursor:pointer; }
.btn_minus_row.type02{ display:inline-flex; }
.custom_select.type02{ width:100%; }
.custom_select.type02 .select-items li, .custom_select.type02 .select-selected{ text-align:left; }
.filebox.type03 .upload-name { display:inline-block; width:326px; height:36px; font-size:14px; font-weight:400; letter-spacing:-0.44px; padding:6px 16px; vertical-align:middle; background-color:#f9f9f9; border:1px solid #ebf2fc; }
.select_screen{ display:flex; align-items:center; justify-content:space-between;}
.select_screen .search_wrap{ display:none; width:100%; }
.select_screen .select_box{ width:100%; }
.select_screen .filebox{ display:none; align-items:center; justify-content:space-between; width:100%; }
.select_screen .btn_blueline_icon{ width:84px; }
.select_screen .filebox.disF{ display:flex; }
.select_screen .search_wrap.disF{ display:flex; }
.cont_btm_box{ display:flex; justify-content:space-between; align-items:center; width:100%; height:68px; padding:12px 24px 12px 48px; background:#f9f9f9; box-sizing:border-box; }
.cont_btm_box .cnt_checkBox{ display:flex; align-items:center; }
.cont_btm_box .cnt_checkBox .cb_title{ color:#7c848e; font-weight:500; }
.cont_btm_box .cnt_checkBox .cb_title + .input_checkBox{ margin-left:40px; }
.cont_btm_box .cnt_checkBox .input_checkBox{ display:inline-flex; align-items:center; justify-content:center; }
.cont_btm_box .cnt_checkBox .input_checkBox + .input_checkBox{ margin-left:40px; }
.cont_btm_box .cnt_checkBox .input_checkBox label{ width:auto; font-weight:500; }
.cont_btm_box .orange_desc{ display:inline-flex; margin-left:40px; color:#c7842e; letter-spacing:-0.5px; }
.cont_btm_box .btn_blueline_icon.type02{ height:44px; padding:0 12px; }

/* 배포관리 */
.stn_lineBox.type02 .lineBox_cnts_tit{ width:auto; }

/* 영상관리 - 시스템 영상 생성 */
.btm_cnt + .stn_lineBox{ margin-top:24px; }
.btm_cnt + .stn_lineBox.type02 .lineBox_cnts_cont input{ width:108px; }
.btm_cnt + .stn_lineBox.type02 .lineBox_cnts_cont .select_box{ width:183px; }
.btm_cnt + .stn_lineBox.type02 .lineBox_cnts_ul .lineBox_cnts_cont .select_items_li{ font-size:14px; }
.span_ml span{ display:block; line-height:20px; }

/* 영상관리 - 시스템 영상 보기 */
.stn_lineBox.video_view_detail .lineBox_cntTitle_wrap + .lineBox_cntTitle_wrap{ margin:24px 0 0 0; }
.video_view_detail .div_view_table{ width:100%; }
.video_view_detail .div_view_table .div_view_th{ color:#7c848e; }
.video_view_detail .div_view_table .div_view_tr > div + div, .video_view_detail .div_view_table .div_view_td textarea, .video_view_detail .div_view_table .div_view_tr > div:first-child{ width:610px; font-size:16px; letter-spacing:-0.5px; line-height:20px;  }
.video_view_detail .div_view_table .div_view_tr + .div_table_tbody{ margin-top:8px; }
.video_view_detail .div_view_table .div_view_tr > div + div{ margin-left:20px; }
.stn_lineBox.video_view_detail .lineBox_cnts .lineBox_cnts_ul + .lineBox_cnts_ul{ margin-left:40px; }
.select_box + .directly_input{ margin-left:8px; }
.video_view_detail .select-items li, .video_view_detail .select-selected{ font-size:16px; }

/* AI 엔진관리 등록 */
.lineBox_cnts.type02 .lineBox_cnts_tit{ width:84px; }
.lineBox_cnts.type02 .lineBox_cnts_cont{ width:320px; }
.lineBox_cnts.type02 .lineBox_cnts_ul{ justify-content:flex-start; }
.lineBox_cnts.type02 .lineBox_cnts_ul + .lineBox_cnts_ul{ margin-left:120px; }
.lineBox_cnts.type02 .lineBox_cnts_ul input{ width:240px; }
.lineBox_cnts.type02 .filebox{ display:flex; justify-content:space-between; }
.lineBox_cnts.type02 .filebox .upload-name{ border:1px solid #ebf2fc; background:#f9f9f9; }
.lineBox_cnts.type02 .filebox .btn_blueline_icon{ width:72px; margin-left:8px; padding:0 5px 0 11px; }
.input_box label{ color:#7c848e; }
.lineBox_cnts.type02 .lineBox_cnts_ul .input_box label + input{ width:120px; margin-left:12px; }

/* 툴팁관리 */
.lineBox_cnts.type03 .lineBox_cnts_ul{ justify-content:flex-start; align-items:flex-start; width:100%; }
.lineBox_cnts.type03 .lineBox_cnts_tit{ width:84px; padding-top:8px; box-sizing:border-box; }
.lineBox_cnts.type03 .lineBox_cnts_ul .lineBox_cnts_tit + .lineBox_cnts_cont{ width:calc(100% - 96px); }
.lineBox_cnts.type03 .lineBox_cnts_ul .lineBox_cnts_tit + .lineBox_cnts_cont span{ white-space:unset; }
.lineBox_cnts.type03 .lineBox_cnts_cont textarea{ width:100%; padding:6px 16px; border-color:#ebf2fc; border-radius:0; font-size:16px; line-height:24px; font-weight:500; letter-spacing:-0.5px; box-sizing:border-box; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0; }
.lineBox_cntTitle_wrap .lineBox_cnt_title span.orange_desc{ margin-left:12px; color:#c7842e; font-size:14px; font-weight:400; }

/* modal_wrap */
.modal_wrap{ display:block; position:fixed; top:0; left:0; width:100%; height:100%; z-index:100; }
.modal_wrap .dim{ position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.4); }
.modal_popup{ display:none; }
.modal_wrap .modal_popup{ display:block; }
.modal_wrap .modal_stn{ display:inline-block; position:absolute; top:50%; left:50%; min-width:240px; max-width:800px; height:auto; min-height:auto; margin:0; padding:36px; background:#fff; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); -webkit-animation:modal_show 0.3s 0s ease-out; animation:modal_show 0.3s 0s ease-out; box-sizing:border-box;}
.modal_wrap .modal_stn.modal_stn_type02{ padding:24px 36px; }
.modal_wrap .pop_top{ width:100%; margin-bottom:16px; }
.modal_wrap .pop_top h3{ font-size:16px; font-weight:700; }
.modal_wrap .pop_mid p{line-height:22px; letter-spacing:-0.5px;}
.modal_wrap .pop_mid .mid_cnt + .mid_cnt{ margin-top:16px; }
.modal_wrap .pop_btm{ display:flex; justify-content:center; align-items:center; margin-top:24px; }
.modal_wrap .pop_btm a ~ button{ margin-left:4px; }
.modal_wrap .pop_btm button + button{ margin-left:4px; }
.modal_wrap .pop_btm button + a{ margin-left:4px; }
.modal_wrap .pop_btm a + a{ margin-left:4px; }
/* keyframes */
@-webkit-keyframes modal_show{
    0%   {opacity:0;}
    100% {opacity:1;}
}
@keyframes modal_show{
    0%   {opacity:0;}
    100% {opacity:1;}
}

/* .modal_popup.select_branch */
.select_branch .modal_stn{ width:504px; }
.select_branch .modal_stn .search_box{ width:300px; }
.modal_stn .table_cont table tbody td{ height:48px; padding:6px 0; }
.select_branch .table_cont table tbody .select{ background-color:#ebf2fc; }
.select_branch .paging_cont{ margin-top:24px; }
.select_branch .pop_btm{ margin-top:20px; }
.select_branch table tr{ cursor:pointer; }
.select_branch .pop_btm button + button{ margin-left:8px; }
.select_branch .select_box{ width:124px; }
.select_branch .select_box .custom_select{ width:100%; }
.select_branch .table_cont table tbody tr:last-child{ border-bottom:1px solid #ebf2fe; }

/* .modal_popup.device_manager */
.device_manager .modal_stn{ width:796px; }
.device_manager .modal_stn .search_box{ margin:0; }
.device_manager table tr{ cursor:pointer; }
.device_manager .table_cont table tbody .select{ background-color:#ebf2fc; }
.device_manager .paging_cont{ margin-top:24px; }
.device_manager .pop_btm{ margin-top:20px; }
.device_manager .pop_btm button + button{ margin-left:8px; }
.device_manager .txt_id{ display:inline-block; max-width:140px; overflow-wrap:break-word; }
.device_manager .txt_name{ display:inline-block; width:72px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.device_manager .table_cont table tbody tr:last-child{ border-bottom:1px solid #ebf2fe; }

/* .modal_popup.tooltip_modal */
.tooltip_modal .modal_stn{ width:504px; }
.modal_stn .mid_gray_tit{ color:#7c848e; font-weight:500; }
.tooltip_modal .tooltip_input{ width:100%; height:36px; margin-top:12px; padding:8px 16px; color:#444; font-weight:400; letter-spacing:-0.44px; }
.tooltip_modal .pop_btm button + button{ margin-left:8px; }

/* modal_popup.view_media */
.view_media .modal_stn{ width:864px; height:486px; background:#000; padding:0; }
.view_media .pop_mid{ position:relative; width:100%; height:100%; }
.view_media .pop_media{ display:flex; align-items:center; justify-content:center; width:100%; height:100%; }
.view_media .pop_media video{ height:100%; }
.view_media .pop_media img{ height:100%; }
.view_media .btn_md_close{ position:absolute; top:0; right:-52px; cursor:pointer; }

/* .modal_popup.add_waiting */
.add_waiting .modal_stn{ width:504px; }
.add_waiting .tooltip_input{ width:100%; height:36px; margin-top:12px; padding:8px 16px; color:#444; font-weight:400; letter-spacing:-0.44px; }
.add_waiting .pop_btm button + button{ margin-left:8px; }
.filebox.type02 .upload-name { display:inline-block; width:339px; height:36px; font-size:14px; font-weight:400; letter-spacing:-0.44px; padding:6px 16px; vertical-align:middle; background-color:#f9f9f9; border:1px solid #ebf2fc; }
.add_waiting .filebox.type02{ display:flex; justify-content:space-between; margin-top:12px; }
.add_waiting .btn_blueline_icon{ width:85px; }

/* viewing_detail_video modal popup 영상 상세보기 팝업 */
.viewing_detail_video .modal_stn { width:1184px; max-width:initial; height:485px; padding:0; }
.viewing_detail_video .pop_mid{ display:flex; justify-content:space-between; width:100%; height:100%; }
.viewing_detail_video .pop_mid .pop_vid{ position:relative; width:864px; heighT:100%; background:#000; }
.viewing_detail_video .pop_mid .pop_vid .vid_cnt{ width:100%; height:100%; }
.viewing_detail_video .pop_mid .pop_vid .vid_cnt video{ width:100%; height:100%; }
.viewing_detail_video .pop_mid .pop_vid .btn_video{ display:none; align-items:center; justify-content:center; position:absolute; bottom:24px; left:50%; transform:translate(-50%, 0); width:100px; height:40px; border:1px solid #c7842e; background:transparent; color:#c7842e; font-weight:500; box-sizing:border-box; transition:all 0.2s ease-in-out; -webkit-transform:translate(-50%, 0); -moz-transform:translate(-50%, 0); -ms-transform:translate(-50%, 0); -o-transform:translate(-50%, 0); -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; cursor:pointer; }
.viewing_detail_video .pop_mid .pop_vid .btn_video .txt{ margin-top:-2px; color:#c7842e;}
.viewing_detail_video .pop_mid .pop_vid .btn_video .ico_img{ display:block; width:24px; height:24px; margin-right:6px; }
.viewing_detail_video .pop_mid .pop_vid .btn_play .ico_img{ background:url("../images/ico_play_gold_24px.png") no-repeat 100%; }
.viewing_detail_video .pop_mid .pop_vid .btn_play:hover .ico_img{ background:url("../images/ico_play_white_24px.png") no-repeat 100%; }
.viewing_detail_video .pop_mid .pop_vid .btn_pause .ico_img{ background:url("../images/ico_pause_gold_24px.png") no-repeat 100%; }
.viewing_detail_video .pop_mid .pop_vid .btn_pause:hover .ico_img{ background:url("../images/ico_pause_white_24px.png") no-repeat 100%; }
.viewing_detail_video .pop_mid .pop_vid .btn_video:hover{ background:#c7842e; color:#fff; }
.viewing_detail_video .pop_mid .pop_vid .btn_video:hover .txt{ color:#fff;}
.viewing_detail_video .pop_mid .pop_vid .btn_play.on{ display:flex; }
.viewing_detail_video .pop_mid .pop_vid .btn_pause.on{ display:flex; }
.viewing_detail_video .pop_mid .pop_vid_script{ position:relative; width:calc(100% - 864px); height:100%; padding:24px; box-sizing:border-box; }
.viewing_detail_video .pop_mid .pop_vid_script h4{ color:#305da8; font-weight:500; }
.viewing_detail_video .pop_mid .pop_vid_script .txt{ overflow-y:auto; width:100%; max-height:calc(100% -  92px); margin:16px 0; padding:12px; border:1px solid #ebf2fc; line-height:20px; box-sizing:border-box; scrollbar-width:thin; scrollbar-color:#ebf2fc transparent; }
.viewing_detail_video .pop_mid .pop_vid_script .txt::-webkit-scrollbar-thumb{background:#ebf2fc;}
.viewing_detail_video .pop_mid .pop_vid_script .btn_gray{ position:absolute; right:24px; bottom:24px; height:40px; }
