<div id="gnb">
    <div class="gnb_header">
        <h1 class="logo">
            <a href="javascript:void(0)">
                <span>로고</span>
                <img  src="../resources/images/logo.png" alt="신한은행 인공인간관리시스템">
            </a>
        </h1>
    </div>
    <div class="gnb_stn">
        <div class="gnb_user">
            <button type="button" class="btn_gnb_user">
                <span class="user_left">
                    <img src="../resources/images/img_profile_empty_32px.svg" alt="유저 아이콘">
                    <span class="desc">
                        <span class="depart">미래전략연구소</span>
                        <b class="name">뽀니스  아구스아구스 아구스 </b>
                    </span>
                </span>
                <span class="accIcon">
                    <img src="../resources/images/ico_arrow_down_white_24px.svg" alt="화살표">
                </span>
            </button>
            <button type="button" class="btn_logout">
                <img src="../resources/images/ico_logout_24px.svg" alt="로그아웃 아이콘">
                <span>로그아웃</span>
            </button>
        </div>
        <div class="notice_cont">
            <button type="button" class="btn_notice" id="btn_notice">
                <img src="../resources/images/ico_alarm_off_20px.svg" alt="알림 아이콘">
                <!-- [D] 알림 왔을 시에 아이콘 변경
                    <img src="../resources/images/ico_alarm_on_20px.svg" alt="알림 아이콘"> -->
                <span>알림</span>
            </button>
            <div class="noti_wrap">
                <div class="noti_bg"></div>
                <div class="notice_popup" id="np">
                    <p class="noti_tit">알림</p>
                    <div class="noti_list_cont">
                        <div class="noti_list">
                            <img src="../resources/images/ico_change_32px.svg" alt="변경 아이콘">
                            <div>
                                <b>인공인간 설정이 변경되었습니다.</b>
                                <p>
                                    <span>서소문</span>
                                    <span> / </span>
                                    <span>AI 컨시어지</span>
                                </p>
                            </div>
                        </div>
                        <div class="noti_list">
                            <img src="../resources/images/ico_update_32px.svg" alt="업데이트 아이콘">
                            <div>
                                <b>답변 시나리오가 업데이트되었습니다.</b>
                                <p>
                                    <span>명동대기업금융센터</span>
                                    <span> / </span>
                                    <span>AI 뱅커 디지털데스크</span>
                                </p>
                            </div>
                        </div>
                        <div class="noti_list">
                            <img src="../resources/images/ico_error_32px.svg" alt="오류 아이콘">
                            <div>
                                <b>배포중 오류가 발생하였습니다.</b>
                                <p>
                                    <span>신한PWM태평로센터</span>
                                    <span> / </span>
                                    <span>스마트 카드업무 키오스크</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="gnb_menu">
            <li>
                <button type="button" class="accordion_none">
                    <span class="txt">
                        <img src="../resources/images/ico_dashboard_20px.svg" class="dashboardImg" alt="대시보드 아이콘">
                        대시보드
                    </span>
                </button>
            </li>
            <li>
                <button type="button" class="accordion">
                    <span class="txt">
                        <span class="txtImg sceneImg"></span>
                        영상 관리 
                    </span>
                    <span class="accIcon"></span>
                </button>
                <div class="panel">
                    <ul>
                        <li><a href="../html/video_system_list.html"><span class="hexagon"></span>AI 컨시어지</a></li>
                        <li><a href="javascript:void(0)"><span class="hexagon"></span>AI 뱅커 디지털데스크</a></li>
                        <li><a href="javascript:void(0)"><span class="hexagon"></span>스마트 키오스크</a></li>
                        <li><a href="javascript:void(0)"><span class="hexagon"></span>스마트 카드업무 키오스크</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button type="button" class="accordion">
                    <span class="txt">
                        <span class="txtImg deviceImg"></span>
                        기기 관리
                    </span>
                    <span class="accIcon"></span>
                </button>
                <div class="panel">
                    <ul>
                        <li class="on"><a href="../html/device_list.html"><span class="hexagon"></span>AI 컨시어지</a></li>
                        <li><a href="javascript:void(0)"><span class="hexagon"></span>AI 뱅커 디지털데스크</a></li>
                        <li><a href="javascript:void(0)"><span class="hexagon"></span>스마트 키오스크</a></li>
                        <li><a href="javascript:void(0)"><span class="hexagon"></span>스마트 카드업무 키오스크</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button type="button" class="accordion">
                    <span class="txt">
                        <span class="txtImg distributionImg"></span>
                        배포 관리
                    </span>
                    <span class="accIcon"></span>
                </button>
                <div class="panel">
                    <ul>
                        <li><a href="../html/distribute_list.html"><span class="hexagon"></span>AI 컨시어지</a></li>
                        <li><a href="javascript:void(0)"><span class="hexagon"></span>AI 뱅커 디지털데스크</a></li>
                        <li><a href="javascript:void(0)"><span class="hexagon"></span>스마트 키오스크</a></li>
                        <li><a href="javascript:void(0)"><span class="hexagon"></span>스마트 카드업무 키오스크</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button type="button" class="accordion">
                    <span class="txt">
                        <span class="txtImg conciergeImg"></span>
                        컨시어지 관리
                    </span>
                    <span class="accIcon"></span>
                </button>
                <div class="panel">
                    <ul>
                        <li><a href="../html/concierge_notice_list.html"><span class="hexagon"></span>공지사항 관리</a></li>
                        <li><a href="../html/concierge_waiting_list.html"><span class="hexagon"></span>대기화면 관리</a></li>
                        <li><a href="../html/concierge_branch_list.html"><span class="hexagon"></span>지점정보 관리</a></li>
                        <li><a href="../html/concierge_tooltip_detail.html"><span class="hexagon"></span>툴팁 관리</a></li>
                        <li><a href="javascript:void(0)"><span class="hexagon"></span>메뉴관리 <img src="../resources/images/ico_shortcut_gray_20px.svg" alt="바로가기 아이콘" class="ico_gnb"></a></li>
                    </ul>
                </div>
            </li>
            <li>
                <button type="button" class="accordion_none">
                    <span class="txt">
                        <img src="../resources/images/ico_human_20px.svg" class="chartImg" alt="AI엔진  관리  아이콘">
                        AI엔진 관리
                    </span>
                    <!-- <span class="accIcon"></span> -->
                </button>
                <!-- <div class="panel">Content3</div> -->
            </li>
            <li>
                <button type="button" class="accordion_none">
                    <span class="txt">
                        <img src="../resources/images/ico_setting_20px.svg" class="settingImg" alt="권한관리  아이콘">
                        권한관리
                    </span>
                    <!-- <span class="accIcon"></span> -->
                </button>
                <!-- <div class="panel">Content3</div> -->
            </li>
        </ul>
        <div class="gnb_shortcut">
            <p class="tit">바로가기</p>
            <a href="javascript:void(0)" class="btn_shortcut">
                AI Connect
                <img src="../resources/images/ico_shortcut_20px.svg" alt="바로가기 아이콘">
            </a>
            <a href="javascript:void(0)" class="btn_shortcut">
                AI Studio
                <img src="../resources/images/ico_shortcut_20px.svg" alt="바로가기 아이콘">
            </a>
        </div>
    </div>
</div>