<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<!-- Cache reset -->		
<meta http-equiv="Expires" content="Mon, 23 Aug 2021 00:00:01 GMT">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<!-- icon_favicon -->
<!-- <link rel="shortcut icon" type="image/x-icon" href="../resources/images/ico_favicon_60x60.png"> -->
<link rel="shortcut icon" href="#">
<!-- css -->
<link rel="stylesheet" href="../resources/css/font.css">
<link rel="stylesheet" href="../resources/css/reset.css">
<link rel="stylesheet" href="../resources/css/daterangepicker.css">
<link rel="stylesheet" href="../resources/css/swiper.min.css">
<link rel="stylesheet" href="../resources/css/style.css">

<script src="../resources/js/jquery-3.5.1.min.js"></script>
<script src="../resources/js/jquery-migrate-3.3.1.min.js"></script>
<script src="../resources/js/daterangepicker.js"></script>
<script src="../resources/js/swiper.min.js"></script>
<script src="../resources/js/ui.min.js"></script>